.footer-nav {
  background-color: var(--grey);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-nav-wrapper {
  display: flex;
  padding-top: 50px;
  border-top: 1px solid var(--disabled-black);
}

.footer-nav-wrapper-list {
  width: 100%;
}

.footer-nav-list-title {
  font-weight: 200;
  margin-bottom: 25px;
}

.footer-nav-wrapper-list li {
  color: var(--disabled-black);
  font-weight: 600;
  margin-bottom: 10px;
  transition: var(--default-transition);
}

.footer-nav-wrapper-list li:hover {
  color: var(--black);
}

.footer-last {
  display: flex;
  justify-content: space-between;
  line-height: 80px;
}

.footer-last-links {
  display: flex;
}

.footer-last-links li {
  margin-right: 20px;
  font-weight: 600;
  color: var(--blue);
  transition: var(--default-transition);
}

.footer-last-links li:hover {
  color: var(--black);
}

.copy {
  font-weight: 200;
}