.main-wrapper {
  padding: 0 37.5px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  border: 1px solid var(--grey);
  padding: 15px;
  display: inline-block;
  position: relative;
  padding-bottom: 80px;
}

.card-image {
  width: 100%;
}

.card-title {
  font-size: 35px;
  font-weight: 300;
  line-height: 1;
  margin-top: 20px;
}

.card-description {
  font-weight: 300;
  margin-top: 20px;
}

.card-links {
  margin-top: 50px;
  position: absolute;
  bottom: 15px;
}

.card-link {
  transition: var(--default-transition);
  font-weight: 600;
}

.card-link::before {
  content: '>';
  position: relative;
  right: 3px;
  transition: var(--default-transition);
}

.card-link:hover {
  color: var(--blue);
}

.card-link:hover::before {
  right: 0;
}
