
.wrapper-fixed {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--translucent-white);
    transition: all .9s;
}

.wrapper-lema {
    position: absolute;
    width: 100%;
    top: 120px;
    padding: 0 37.5px;
    box-sizing: border-box;
    transition: all .9s;
}

.lema {
    margin: 0 auto;
    max-width: var(--max-width);
    width: 100%;
    text-align: right;
}

header {
    color: var(--white);
}

.hero img {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: .5;
    width: 100%;
}

.hero {
    background-image:
        linear-gradient(to top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.3)),
        url('/images/serie2-hero.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-content {
    padding: 50px 150px;
}

.hero-content h2 {
    font-size: 60px;
    font-weight: 300;    
}

.hero-content p {
    font-size: 24px;
}

.hero-content a {
    text-decoration: none;
    padding: 15px 85px;
    background-color: var(--blue);
    display: inline-block;
    margin: 20px 0;
    color: var(--white);
    font-weight: bold;
    font-size: 13px;
    transition: var(--default-transition);
}

.hero-content a:hover {
  background-color: var(--dark-blue);
}

.main-nav {
    padding: 0 37.5px;
    width: 100%;
    margin: 0 auto;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav .nav-der {
    align-items: flex-end;
}

.main-nav li {
    padding: 40px 0 36px;
    text-align: center;
    border-bottom: 4px solid transparent;
    transition: var(--default-transition);
}

.main-nav li:hover:not(#logo) {
    border-bottom: 4px solid var(--translucent-white);
}

.main-nav li {
    padding-left: 20px;
    padding-right: 20px;
}

.main-nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    font-size: 14px;
}

#logo {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#logo .grey {
  display: none
}

.header-not-at-top .wrapper-fixed {
  border-color: var(--grey);
  background-color: var(--white);
}

.header-not-at-top #logo .grey {
  display: inline;
}

.header-not-at-top #logo .normal {
  display: none;
}

.header-not-at-top header .main-nav a {
  color: var(--disabled-black);
}

.header-not-at-top .main-nav li:hover:not(#logo) {
  border-color: var(--blue);
}

.header-not-at-top .main-nav li:hover:not(#logo) a {
  color: var(--black);
}

.header-not-at-top .wrapper-lema {
  opacity: 0;
}
