.services-wrapper {
  display: flex;
  margin-top: 100px ;
  margin-bottom: 100px ;
}

.services-wrapper .card:not(:last-child) {
  margin-right: 20px;
}

.icons-wrapper li {
  text-align: center;
  background-color: #eee;
  color: var(--disabled-black);
  padding: 50px;
  margin-right: 10px;
  flex-grow: 1;
  flex-basis: 0;
  transition: var(--default-transition);
}

.icons-wrapper li:hover {
  background-color: var(--grey);
}

.icons-wrapper li:last-child {
  margin-right: 0;
}

.icons-wrapper .svg-inline--fa {
  margin-bottom: 20px;
}